import init.superuser.rc
import init.storage.rc
import init.archosa80sboard.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chown system system /sys/kernel/debug/kgsl/proc

on init

	export BT_FW_PATH /system/etc/firmware
	loglevel 9
	# See low ram config details at http://source.android.com/devices/low-ram.html
	write /sys/kernel/mm/ksm/pages_to_scan 100
	write /sys/kernel/mm/ksm/sleep_millisecs 500
	write /sys/kernel/mm/ksm/run 1
	
	# SELinux to permissive
   setenforce 0

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864
    
on boot
	
	# Enable DEBUG_SUSPEND, DEBUG_EXIT_SUSPEND, and DEBUG_WAKEUP
    write /sys/module/wakelock/parameters/debug_mask 7
    
	# change permissions for i2c-2 device
	chmod 0666 /dev/pvrsrvkm
	chmod 0660 /dev/i2c-2
	chown media media /dev/i2c-2

	# change permissions for Tiler driver
	chown media media /dev/tiler
	chmod 0777 /dev/tiler
	chmod 0777 /dev/dmm

# cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 800MHz
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 800000

# Boost the CPU for 30 secs during boot
	write /sys/devices/system/cpu/cpufreq/interactive/boost_timeout 30000000
	write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

# autosuspend root hubs immediatly after attached devices
	write /sys/bus/usb/devices/usb1/power/autosuspend_delay_ms 0
	write /sys/bus/usb/devices/usb2/power/autosuspend_delay_ms 0

# Remove the Ultra Fast Media Card Reader on EHCI bus
	write /sys/bus/usb/devices/1-1.1/remove 1
	write /sys/bus/usb/devices/1-2.1/remove 1

# Set Remote wakeup flag for the two Hubs on the Tablet board
	write /sys/bus/usb/devices/1-1/power/wakeup enabled
	write /sys/bus/usb/devices/1-1.2/power/wakeup enabled
	write /sys/bus/usb/devices/1-2/power/wakeup enabled
	write /sys/bus/usb/devices/1-2.2/power/wakeup enabled

	
# H264 Encoder Profile setting
# 1 - Base Profile
# 2 - Main Profile
# 8 - High Profile
	setprop video.h264enc.profile 1

# We chown/chmod /factory because mount is run as root + defaults
	chown radio radio /factory
	chmod 0775 /factory

# add symlink for HDCP key
        symlink /factory/hdcp.keys /system/vendor/firmware/hdcp.keys

# change permissions for Sensors
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/enable
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/delay
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039/als_enable
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039/prox_enable
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040/enable
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040/delay
    chown system system /sys/bus/i2c/drivers/mpu3050_gyro/4-0068
    chown system system /sys/bus/i2c/drivers/mpu3050_gyro/4-0068/enable
    chown system system /sys/bus/i2c/drivers/mpu3050_gyro/4-0068/delay
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/rate
    
# change permissions for overlay managers and display devices
    chown system system /sys/devices/platform/omapdss/display0/enabled
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display1/hpd_enabled
    chown system system /sys/devices/platform/omapdss/display2/enabled
    chown system system /sys/devices/platform/omapdss/display3/enabled
    chown system system /sys/devices/platform/omapdss/display0/name
    chown system system /sys/devices/platform/omapdss/display1/name
    chown system system /sys/devices/platform/omapdss/display2/name
    chown system system /sys/devices/platform/omapdss/display3/name
    chown system system /sys/devices/platform/omapdss/overlay0/manager
    chown system system /sys/devices/platform/omapdss/overlay1/manager
    chown system system /sys/devices/platform/omapdss/overlay2/manager
    chown system system /sys/devices/platform/omapdss/overlay3/manager
    chown system system /sys/devices/platform/omapdss/overlay0/zorder
    chown system system /sys/devices/platform/omapdss/overlay1/zorder
    chown system system /sys/devices/platform/omapdss/overlay2/zorder
    chown system system /sys/devices/platform/omapdss/overlay3/zorder

    #change permissions on overlay1, 2 and 3 for hdmi setup
    chown system system /sys/devices/platform/omapdss/overlay1/position
    chown system system /sys/devices/platform/omapdss/overlay1/input_size
    chown system system /sys/devices/platform/omapdss/overlay1/output_size
    chown system system /sys/devices/platform/omapdss/overlay2/position
    chown system system /sys/devices/platform/omapdss/overlay2/input_size
    chown system system /sys/devices/platform/omapdss/overlay2/output_size
    chown system system /sys/devices/platform/omapdss/overlay3/position
    chown system system /sys/devices/platform/omapdss/overlay3/input_size
    chown system system /sys/devices/platform/omapdss/overlay3/output_size

    # change permissions for manager tranparency parameters
    chown system system /sys/devices/platform/omapdss/manager0/name
    chown system system /sys/devices/platform/omapdss/manager0/display
    chown system system /sys/devices/platform/omapdss/manager1/name
    chown system system /sys/devices/platform/omapdss/manager1/display
    chown system system /sys/devices/platform/omapdss/manager2/name
    chown system system /sys/devices/platform/omapdss/manager2/display
    chown system system /sys/devices/platform/omapdss/overlay0/enabled
    chown system system /sys/devices/platform/omapdss/overlay1/enabled
    chown system system /sys/devices/platform/omapdss/overlay2/enabled
    chown system system /sys/devices/platform/omapdss/overlay3/enabled

    # change permissions for display timings to get the resolutions
    chown system system /sys/devices/platform/omapdss/display0/timings
    chown system system /sys/devices/platform/omapdss/display1/timings
    chown system system /sys/devices/platform/omapdss/display2/timings
    chown system system /sys/devices/platform/omapdss/display3/timings

    # change permissions for overlay setting
    chown system system /sys/module/omapdss/parameters/overscan_percent

    # change permissions for s3d parameters (let hwc write)
    chown system system /sys/devices/platform/omapdss/display1/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_type
	
#setup the hdmi interface
    # Enable hotplug detection for HDMI
    write /sys/devices/platform/omapdss/display1/hpd_enabled 1


# Change permissions for FB overlays for HDMI UI Cloning
    chown system system /sys/class/graphics/fb0/overlays
    chown system system /sys/class/graphics/fb0/fit_to_screen
    chown system system /sys/class/graphics/fb1/overlays

# Disable GPS
    write /sys/devices/platform/nl5550.0/gps_nshutdown/value 0


# Change permissions on the governor (this is for debug only)
    chmod 444 /proc/cmdline

on post-fs-data

	mkdir /data/misc/wifi 0775 wifi wifi
	mkdir /data/misc/wifi/ti-connectivity 0775 wifi wifi#
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/vpn/profiles 0770 system vpn
	mkdir /data/local 0771 shell shell
	
	mkdir /data/misc/dhcp 0770 dhcp dhcp


# wi-fi
	insmod /system/lib/modules/compat.ko
	insmod /system/lib/modules/cfg80211.ko
	insmod /system/lib/modules/mac80211.ko
	insmod /system/lib/modules/wl12xx.ko
	insmod /system/lib/modules/wl12xx_sdio.ko

# bluetooth
	insmod /system/lib/modules/bluetooth.ko
	insmod /system/lib/modules/rfcomm.ko
	insmod /system/lib/modules/hidp.ko
	insmod /system/lib/modules/hci_uart.ko
	insmod /system/lib/modules/bnep.ko
	insmod /system/lib/modules/tty_hci.ko


	
	copy /system/etc/wifi/hostapd.conf /data/misc/wifi/hostapd.conf


    # change permissions for Bluetooth/FM/GPS
	chmod 0666 /sys/class/rfkill/rfkill0/state
   chown bluetooth net_bt_admin /sys/class/rfkill/rfkill0/state
   chmod 0666 /dev/ttyO1
   chown bluetooth bluetooth /dev/ttyO1

	chmod 0660 /data/misc/wifi/wpa_supplicant.conf
	mkdir /data/misc/vpn/profiles 0770 system vpn

	# we will remap this as /storage/sdcard0 with the sdcard fuse tool
	mkdir /data/media 0770 media_rw media_rw
	chown media_rw media_rw /data/media
	mkdir /data/smc 0770 drmrpc drmrpc
	chown drmrpc drmrpc /data/smc/counter.bin
	chown drmrpc drmrpc /data/smc/storage.bin
	chown drmrpc drmrpc /data/smc/system.bin

	mkdir /data/misc/eth 0770 eth wifi

	# camera calibration - DCC folder permission
	mkdir /data/misc/camera 0770 media media
    chown media media /data/misc/camera
    mkdir /data/misc/camera/R5_MVEN003_LD2_ND0_IR0_SH0_FL1_SVEN003_DCCID1044 0770 media media
    chown media media /data/misc/camera/R12_MVEN001_LD1_ND0_IR0_SH0_FL0_SVEN001_DCCID43
    chown media media /data/misc/camera/R12_MVEN002_LD2_ND0_IR0_SH0_FL0_SVEN002_DCCID42
    chown media media /data/misc/camera/R8_MVEN002_LD2_ND0_IR0_SH0_FL1_SVEN003_DCCID1042

	mkdir /data/radio 0775 radio radio
	mkdir /data/radio/log 0775 radio radio

#for Bluetooth HID
	chmod 0666 /dev/uhid
	chmod 0666 /dev/rfkill

    chmod 0777 /dev/ion


    # change permissions for modem
    chmod 0660 /dev/ttyS0
    chown radio radio /dev/ttyS0
    
    symlink /dev/ttyO0 /dev/tigps
    
	setprop vold.post_fs_data_done 1


service pvrsrvinit /vendor/bin/pvrsrvinit
	class core
	user root
	group root
	oneshot

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
		/dev/block/platform/omap/omap_hsmmc.1/by-name/cache \
		/dev/block/platform/omap/omap_hsmmc.1/by-name/userdata
        class core
        user root
        group root
        oneshot

#shared transport user space mgr service for Bluetooth, FM and GPS
service uim /system/bin/uim-sysfs
    class core
    user root
    group bluetooth net_bt_admin

	
# wifi services
#service p2p_supplicant /system/bin/wpa_supplicant -e/data/misc/wifi/entropy.bin \
#    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \    
#    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
#    -g@android:wpa_wlan0
#    class main
#     socket wpa_wlan0 dgram 660 wifi wifi
#     disabled
#     oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service hostapd_bin /system/bin/hostapd -d -e/data/misc/wifi/entropy.bin /data/misc/wifi/hostapd.conf
    socket wpa_wlan0 dgram 660 wifi wifi
    class main
    disabled
    oneshot


# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

on property:wlan.driver.status=ok
    chown wifi wifi /sys/devices/platform/wl1271/bt_coex_state

service create_sysid /system/bin/logwrapper /system/xbin/create_sysid -p /data/media/
    class core
    oneshot

# generate nvs with calibration and mac
service create_nvs /system/bin/logwrapper /system/xbin/create_nvs -t /system/etc/firmware/ti-connectivity/wl1271-nvs.bin -e /data/misc/wifi/ti-connectivity/wl1271-nvs.bin -w wl127x
    class core
    oneshot

# GPS services
service navl_server /system/bin/start_navd -android_log NAVD -nav\"-c/system/etc/gps/config/pathconfigfile.txt\"a
    user root
    class main
    disabled
    oneshot
   

service akmd /system/bin/akmd8975 -m 6
    class core
    user compass
    group misc
	
service battery /system/bin/logwrapper /system/bin/batteryd -d
    class core

# Turn on the display
on property:init.svc.bootanim=running
	write /sys/class/leds/lcd-backlight/brightness 150 


